body{
    background-image: url(/fotos/fundo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin:0;
    opacity: 0.9;
}

.p1{
    font-family: "Gill Sans", sans-serif;
}