body {
    background-color: #8197ac;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    width: 100%;
    padding-top: 60px;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d141c;
    color: #bcb3a2;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

header h2 {
    margin: 0;
    font-size: 20px;
    color: #bcb3a2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.voltar a {
    color: #bcb3a2;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 6px 12px;
    border-radius: 5px;
}

.voltar a:hover {
    background-color: #607ea2;
}

section {
    background-color: #314b6e;
    color: #bcb3a2;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.jogo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.jogo p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.jogo input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #bcb3a2;
    border-radius: 5px;
    background-color: #0d141c;
    color: #bcb3a2;
}

.jogo button {
    background-color: #607ea2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 8px 4px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    text-align: center;
    
}

.jogo button:hover {
    background-color: #8197ac;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#listaTentativas {
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

#listaTentativas li {
    font-weight: bold;
    background-color: #0d141c;
    border-left: 4px solid #607ea2;
    margin-bottom: 10px;
    padding: 10px;
    color: #bcb3a2;
    border-radius: 5px;
    font-size: 15px;
}

#tentativasRestantes {
    font-weight: bold;
    color: #fff;
}