body {
    background-color: #8197ac;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    width: 100%;
    padding-top: 60px;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 5px 0;
    top: 0;
    width: 100%;
    background-color: #0d141c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voltar a {
    color: #bcb3a2;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 6px 12px;
    border-radius: 5px;
    margin-left: 15px;
}

.voltar a:hover {
    background-color: #607ea2;
}

.opcoes {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.opcoes li a {
    transition: color 0.3s;
    transform: 0.3s;
    text-decoration: none;
    font-weight: bold;
    color: #bcb3a2;
    padding: 7px 12px;
}

.opcoes li a:hover{
    color:#607ea2;
    transform: scale(1.1);
}

#apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #314b6e;
    color:#bcb3a2;
    padding: 30px;
    border-radius: 30px;
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgb(0, 0, 0.2);
    text-align: left;
    gap: 30px;
}

#apresentacao h1{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 28px;
    color: #bcb3a2;
}

#apresentacao .texto {
    max-width: 600px;
    flex: 1;
}

#apresentacao img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 10px auto;
    border:  3px solid #bcb3a2;
}

section {
    background-color: #314b6e;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    max-width: 900px;
    color: #bcb3a2;
    box-shadow: 0 4px 8px rgb(0, 0, 0.2);
}

section h3 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #bcb3a2;
    padding-bottom: 5px;
    color: #bcb3a2;
}

section h4 {
    font-size: 20px;
    margin-top: 20px;
    color: #bcb3a2;
}

section p, section li {
    font-size: 16px;
    margin: 10px 0;
}

section ul {
    padding-left: 20px;
}

section a {
    color: #bcb3a2;
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    color: #ffffff;
    text-decoration: underline;
}
